.library-wrapper
  app-header
  .navigation
    img.tab-icon(src='/files/images/video-tab-icon.png', alt='')
    .navigation-bar-container
      ul.navigation-bar
        li
          a.active(href='') VIDEOS
        li
          a(href='') LANDINGS
        li
          a(href='') EMAILS
        li
          a(href='') ANALYTICS
        li
          a(href='') CONTACTS

  //- TODO: upload file
  //- {{upload-video isShown=isShownUploadPopup}}

  //- {{video-record isShown=isShownRecordPopup}}

  //- TODO: fab-buttons
  //- {{watch-buttons isShownRecordPopup=isShownRecordPopup isShownUploadPopup=isShownUploadPopup}}

  //- TODO: handlers
  video-list(
    list="vm.list"
    on-upload-click="vm.uploadClickHandler()"
    on-record-click="vm.recordClickHandler()"
    on-send-click="vm.sendClickHandler()")

  //- {{send-popup
  //-     isShownSendPopup=isShownSendPopup
  //-     videoId=videoId
  //- }}
